/* parent divison for navbar */
.navbar_main{
    background-color: #FBEEE6;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
}


.navbar-content{
    display: flex;
    width: 100%;
}

/* Logo Styling */
.logo{
    height: 50%;
    width: 80%;
}


/* Toogle Styling */
.navbar-toggler-btn{
    transition: var(--transition);
    z-index: 11;
}
.navbar-collapse{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    background-color: var(--black-color);
    height: 100%;
    width: 280px;
    display: flex;
    padding: 10rem 3rem 0 3rem;
    transform: translatex(100%);
    transition: var(--transition);
}
.show-navbar-collapse{
    transform: translateX(0);
}

/* Navbar List styling */
.floating-nav{
    height: 20vh;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.navbar-nav{
        display: flex;
        width: 80%;
        justify-content: space-evenly;
        
}


/* Navbar content list hovering styling */

.nav-item{
    /* margin-bottom: 1.4rem; */
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh ;
}

.nav-sell{
    /* margin-bottom: 1.4rem; */
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh ;
    border-radius: 20vh;
    border: solid black 2px;

}

/* Sell butoon styling */
#sell-button{
    background-color: black;
    color: white;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh ;
    border-radius: 20vh;
}

/* Hover Styling settings for the navbar contents */

#sell-button:hover{
    background-color: #FBEEE6;
    border: solid black 2px;
    text-decoration: underline;
}
.sell-link:hover{
    color: black;
}

.nav-item:hover{
    border: solid black 2px;
    border-radius: 20vh;
}

#image-div{
    height: 20vh;
}


/* .nav-link:hover{
    text-decoration: underline;
} */

/* .navbar-brand{
    width: 90px;    
} */

/* .navbar-brand span{
    margin-left: 2rem;
} */

/* .brand-and-toggler{
    width: 100%;
} */

.sell-link{
    color: white;
    font-size: 1.8rem;
}



.nav-link{
    transition: var(--transition);
    text-transform: uppercase;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}


/* Responsive Styling */
@media screen and (min-width: 992px){
    .navbar-collapse{
        position: relative;
        height: auto;
        padding: 0;
        width: 100%;
        background-color: transparent;
        transform: translateX(0);
        justify-content: flex-end;
    }
    .navbar-toggler-btn{
        display: none;
    }
    .nav-item{
        margin-bottom: 0;
        margin-left: 2.8rem;
    }
    .nav-link{
        color: var(--black-color);
        font-size: 1.7rem;
        font-weight: 500!important;
        opacity: 0.8;
    }
    .navbar-nav{
        display: flex;
        width: 80%;
        justify-content: space-evenly;
    }
}