/* Main divison of the content page */
.header {
  width: 100%;
  background-color: #fbeee6;
}
.about {
  margin-top: 1.5rem;
}
.header-content {
  background-color: #fbeee6;
  flex-direction: column;
}
.header-text {
  margin-top: -0.8rem;
  opacity: 0.8;
  max-width: 770px;
  font-size: 1.8rem;
  font-weight: 300;
}
